{
  "importOrder": [
    "^[^.@~]",
    "^[@]",
    "^[~]",
    "^..",
    "^[.]"
  ],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": true
}